.weather-data {
  background-color: $black-squeeze;
  padding: 1rem;
}

.weather-data__temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25rem;
}

.weather-data__temperature-item {
  @include font-size(26px);
  margin-bottom: 0;
}

.weather-data__temperature-item--main {
  @include font-size(50px);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-weight: 600;

  .weather-data__temperature-value {
    &:after {
      border-width: 2px;
      width: 8px;
      height: 8px;
    }
  }
}

.weather-data__temperature-value {
  margin-right: 0.25rem;
  position: relative;

  &:after {
    content: '';
    border-radius: 100%;
    border: 1px solid $black;
    position: absolute;
    top: 10%;
    left: 100%;
    width: 5px;
    height: 5px;
  }
}

.weather-data__description {
  @include font-size(14px);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.125rem;
}
